html, 
body {
    font-family: $font-family-sans;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans;
}

/* Icons for External Links */
a[href^="http://"]:after,
a[rel^="external"]:after {
    color: $lightGray;
    content: "\f14c";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 6px;
}
/* Strip from links to own domain or with class no_icon */
a[href^="http://www.triwest.com"]:after,
a.no_icon:after {
    content:"" !important;
    padding-left: 0;
}


h3.header-blue-bar {
    border: 2px solid $gold;
    @include border-radius(4px);
    @include gradient-vertical($navyBlueLight, $navyBlueDark);
    margin-top: 10px;
    padding: 2px;

    color: #fff;
    padding: 10px;
    font-weight: normal;
    font-size: 1.2em;

    .btn-link,
    i[class^='fa-'] {
        color: #dedede;
        font-size: .7em;
        line-height: 1.5em;
        letter-spacing: 2px;
        font-weight: lighter;
        text-transform: uppercase;
    }
    i[class^='fa-'] {
        padding-right: 5px;
    }
}

h4.header-blue-bar {
    @include border-radius(4px);
    @include gradient-vertical($navyBlueLight, $navyBlueDark);
    margin-top: 0;
    padding: 2px;

    color: #fff;
    padding: 10px;
    font-weight: normal;
    font-size: 1em;

    i[class^='fa-'] {
        padding-right: 5px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }
}


h4 {
    border-bottom: 1px solid $gold;
    font-size: 1.4em;
    font-weight: normal;
}

h5 {

    &.header-inner-well {
        color: #000;
        padding: 10px;
        font-weight: normal;
        font-size: 1em;
        border-bottom: 1px solid $gold;
        
        i[class^='fa-'] {
            padding-right: 5px;
        }

        a {
            color: #000;
            font-size: .9em;
            text-decoration: none;
        } 
    }
}



.text-center {
    text-align: center;
}


// Choose your Registration Blocks
a.hero-unit {
    cursor: pointer;
}
a.hero-provider,
a.hero-provider:hover  {
    background-color: $gold;
    color: #fff;
    font-size: 1.4em;
    height: 200px;
    text-decoration: none;
}
a.hero-va,
a.hero-va:hover {
    background-color: $vaBlue;
    color: #fff;
    font-size: 1.4em;
    height: 200px;
    text-decoration: none;
}


// Password Policy Icon List
ul.icons-ul {
    li.nav-header {
        padding-left: 0;
    }
    .text-success {
        font-weight: normal;
    }
    .text-error {
        font-weight: normal;
    }
}
div.error {
    ul.icons-ul {
        .text-success {
            font-weight: normal;
            @include text-shadow(-1px 2px 2px #fff);
        }
        .text-error {
            font-weight: normal;
            @include text-shadow(-1px 2px 2px #dac5c6);
        }
    }
}
