// Buttons
// 
// Styleguide 1.

// Form Elements
// 
// Styleguide 2.


@import "compass";

/* Vendor includes */

/* Mixins
----------------------------------------- */

/* Variables
----------------------------------------- */
$superLightGray: #e5e6e9;
$lightGray: #888;
$darkGray: #484848;

$min-width: 940px;
$max-width: 1200px;

/* Building out the full  CSS
----------------------------------------- */
@import "_partials/_buttons.scss";
@import "_partials/_type.scss";




