div.footer
        p.copyright
            | COPYRIGHT &copy;  2014 TRIWEST HEALTHCARE ALLIANCE
        ul.nav.nav-pills
            li
                a(href='https://www.triwest.com/en/about-triwest/privacy-practices-legal-notices/terms-and-conditions/') Terms and Conditions
            li
                a(href='https://www.triwest.com/en/about-triwest/privacy-practices-legal-notices/internet-privacy/') Privacy Policy
            li
                a(href='https://www.triwest.com/en/about-triwest/privacy-practices-legal-notices/web-security-statement/') Security Statement
            li
                a(href='https://www.triwest.com/en/about-triwest/site-map/') Site Map
            li
                a(href='https://www.triwest.com/en/about-triwest/join-our-team/') Employment
            li
                a(href='https://www.triwest.com/en/about-triwest/corporate-contact-us/') Contact Us

