div.panel.panel-footer
    div.container
        p.copyright
            | COPYRIGHT &copy;  2014 Agilex
        ul.nav.nav-pills
            li
                a(ng-href='') Generic Footer Links here.
            li
                a(ng-href='') Version Here
