!!! 5

|<!--[if lt IE 7 ]> <html xmlns:ng="http://angularjs.org" ng-app="PC3" ng-controller="rootPC3Controller" id="ng-app" class="ie6" lang="en"> <![endif]-->
|<!--[if IE 7 ]>    <html xmlns:ng="http://angularjs.org" ng-app="PC3" ng-controller="rootPC3Controller" id="ng-app" class="ie7" lang="en"> <![endif]-->
|<!--[if IE 8 ]>    <html xmlns:ng="http://angularjs.org" ng-app="PC3" ng-controller="rootPC3Controller" id="ng-app" class="ie8" lang="en"> <![endif]-->
|<!--[if IE 9 ]>    <html xmlns:ng="http://angularjs.org" ng-app="PC3" ng-controller="rootPC3Controller" id="ng-app" class="ie9" lang="en"> <![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:ng="http://angularjs.org" ng-app="PC3" ng-controller="rootPC3Controller" class="" lang="en"> <!--<![endif]-->

head
    //if IE
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Agilex')
    title PC3
    
    link(href='_assets/css/pc3.css', rel='stylesheet', media='screen')
    
    //if lte IE 8
        <script src="lib/json3/json3.min.js"></script>
        <script src="lib/es5-shim/es5-shim.min.js"></script>
        <link rel="stylesheet" href="_assets/css/pc3ie.css" />
        <script>
        |document.createElement('ng-include');
        |document.createElement('ng-pluralize');
        |document.createElement('ng-view');
        |document.createElement('ng-transclude');
        |document.createElement('tabs');
        |document.createElement('pane');
        |document.createElement('tab');
        |document.createElement('tabset');
        |document.createElement('datepicker');
        |document.createElement('timepicker');
        |document.createElement('autocomplete');

        |document.createElement('ng:include');
        |document.createElement('ng:pluralize');
        |document.createElement('ng:view');
        |document.createElement('ng:transclude');
        |document.createElement('ng:tabs');
        |document.createElement('ng:pane');
        |document.createElement('ng:tab');
        |document.createElement('ng:tabset');
        |document.createElement('ng:datepicker')
        |document.createElement('ng:timepicker')
        |document.createElement('ng:autocomplete')
        |document.createElement('ng:maxlength')
        </script>

    // Fav and touch icons 
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='_assets/img/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='_assets/img/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='_assets/img/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='_assets/img/ico/apple-touch-icon-57-precomposed.png')

body
    div.container
        a#skip-content.center(href='#') Skip to Content
        div#content-wrapper.row-fluid
            div#content
                div(ng-view='ng-view', autoscroll)
    div#push
    include app/_globals/footer.jade

    script(src='lib/jquery/jquery.js')
    script(src='lib/jquery-ui-1.10/jquery-ui-1.10.0.custom.js')
    script.
      var $ = jQuery.noConflict();
    script(type='text/javascript', src='lib/bootstrap-2.2.2/bootstrap.js')

    script(type='text/javascript', src="lib/angular-1.2.13/angular.js")
    script(type='text/javascript', src="lib/angular-1.2.13/angular-route.js")
    script(type='text/javascript', src="lib/angular-1.2.13/angular-sanitize.min.js")

    script(type='text/javascript', src="lib/angular-1.2.13/angular-resource.js")
    script(type='text/javascript', src="lib/angular-1.2.13/angular-cookies.js")
    //- Angular UI team Grid library
    script(type='text/javascript', src='lib/ng-grid/ng-grid-2.0.10.js')
    script(type='text/javascript', src='lib/ng-grid/ng-grid-layout.js')
    script(type='text/javascript', src='lib/ng-grid/ng-grid-flexible-height.js')
    script(type='text/javascript', src='lib/ng-grid/ng-grid-csv-export.js')
    //- Angular UI Tools
    script(type='text/javascript', src='lib/angular-ui-0.3.2/angular-ui-ieshiv.js')
    script(type='text/javascript', src='lib/angular-ui-0.3.2/angular-ui.js')
    script(type='text/javascript', src='lib/angular-ui-0.3.2/date.js')
    script(type='text/javascript', src='lib/angular-ui-0.3.2/mask.js')
    script(type='text/javascript', src='lib/masked-input-1.3/jquery.maskedinput-1.3.js')
    script(type='text/javascript', src='lib/angular-ui-0.3.2/validate.js')
    script(type='text/javascript', src='lib/angular-ui-bootstrap-0.6.0/ui-bootstrap-tpls-0.8.0.js')
    //- NG Upload??
    script(type='text/javascript', src='lib/ngUpload-0.5.5/ng-upload.js')
    //- Spinner - Use Promise Tracker to time REST calls to show spinner.
    script(type='text/javascript', src='lib/promise-tracker-1.3.3/promise-tracker.js')
    //- Session Timeout Library - pops up modal after set time.
    script(type='text/javascript', src='lib/angular-idle-0.2.3/angular-idle.js')
    //- IE Spinner cause it can't do animated CSS - used for full page loading
    script(type='text/javascript', src='lib/spin-2.0/spin.min.js')
    //- IE Placeholder Support, pure Angular Directive.
        script(type='text/javascript', src='lib/ng-shims-placeholder-0.1/ng-shims-placeholder.js')

    script(type='text/javascript', src='lib/jquery-file-upload/jquery.ui.widget.js')
    script(type='text/javascript', src='lib/jquery-file-upload/jquery.iframe-transport.js')
    script(type='text/javascript', src='lib/jquery-file-upload/jquery.fileupload.js')
    script(type='text/javascript', src='lib/jquery-file-upload/jquery.fileupload-process.js')
    script(type='text/javascript', src='lib/jquery-file-upload/jquery.fileupload-validate.js')
    script(type='text/javascript', src='lib/jquery-file-upload/jquery.fileupload-angular.js')

    script(src='app/app.js')
    script(src='app/_globals/root.js')
    script(src='app/_globals/directives.js')
    script(src='app/_globals/directive-spinner.js')
    script(src='app/_globals/directive-autocomplete.js')
    script(src='app/_globals/directive-password-check.js')
    script(src='app/_globals/directive-placeholder.js')
    script(src='app/_globals/services.js')
    script(src='app/_globals/services-password.js')
    script(src='app/_globals/services-modal.js')
    script(src='app/_globals/services-account.js')
    script(src='app/_globals/filters.js')

    script(src='app/admin/admin.js')
    script(src='app/admin/user-management/user-management.js')
    script(src='app/admin/user-management/user-management-grid.js')
    script(src='app/admin/user-management/user-management-approve.js')
    script(src='app/admin/user-management/user-management-decline.js')
    script(src='app/admin/user-management/user-management-makeadmin.js')
    script(src='app/admin/user-management/user-management-reset.js')
    script(src='app/admin/user-management/user-management-unlock-account.js')

    script(src='app/admin/search/user-admin-search.js')

    script(src='app/home/home.js')
    script(src='app/home/error.js')

    script(src='app/provider/provider.js')
    script(src='app/provider/home/provider-home.js')
    script(src='app/provider/auths/provider-auths.js')
    script(src='app/provider/auths/provider-auths-services.js')
    script(src='app/provider/auths/provider-auths-directives.js')
    script(src='app/provider/auths/provider-auth-service-lines.js')
    script(src='app/provider/auths/provider-auth-detail.js')
    script(src='app/provider/auths/provider-auth-files.js')
    script(src='app/provider/auths/provider-auths-search.js')
    script(src='app/provider/auths/provider-auths-grid.js')
    script(src='app/provider/auths/provider-auths-export.js')

    script(src='app/provider/claims/provider-claims.js')
    script(src='app/provider/claims/provider-claims-services.js')
    script(src='app/provider/claims/provider-claims-search.js')
    script(src='app/provider/claims/provider-claims-grid.js')
    script(src='app/provider/claims/provider-claims-export.js')
    script(src='app/provider/claims/provider-claims-details.js')

    script(src='app/registration/registration.js')
    script(src='app/registration/registration-admin.js')
    script(src='app/registration/registration-terms.js')

    script(src='app/user/user.js')
    script(src='app/user/password/change-password.js')

    script(src='app/vastaff/vastaff.js')
    script(src='app/vastaff/home/vastaff-home.js')

    script(src='app/vastaff/notifications/vastaff-notifications.js')
    script(src='app/vastaff/notifications/vastaff-notifications-services.js')
    script(src='app/vastaff/notifications/vastaff-notifications-search.js')
    script(src='app/vastaff/notifications/vastaff-notifications-grid.js')
    script(src='app/vastaff/notifications/vastaff-notifications-export.js')

    script(src='app/vastaff/auth-modal/auth-modal.js')
    script(src='app/vastaff/auth-modal/auth-modal-files.js')
    script(src='app/vastaff/auth-modal/auth-modal-services.js')
    script(src='app/vastaff/auth-modal/auth-modal-service-lines.js')

    script(src='app/vastaff/upload/vastaff-upload.js')

    script(src='app/vastaff/vastaff-auths/vastaff-auths.js')
    script(src='app/vastaff/vastaff-auths/vastaff-auths-search.js')
    script(src='app/vastaff/vastaff-auths/vastaff-auths-grid.js')
    script(src='app/vastaff/vastaff-auths/vastaff-auths-export.js')
    script(src='app/vastaff/vastaff-auths/vastaff-auth-service-lines.js')
    script(src='app/vastaff/vastaff-auths/vastaff-auth-files.js')
    script(src='app/vastaff/vastaff-auths/vastaff-auths-services.js')
    script(src='app/vastaff/upload/vastaff-upload.js')

    script(src='app/vet/home/vet-home.js')

