!!! 5

|<!--[if IE 8 ]>    <html xmlns:ng="http://angularjs.org" ng-app="APP" id="ng-app" class="ie8" lang="en"> <![endif]-->
|<!--[if IE 9 ]>    <html xmlns:ng="http://angularjs.org" ng-app="APP" id="ng-app" class="ie9" lang="en"> <![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:ng="http://angularjs.org" ng-app="APP" class="" lang="en"> <!--<![endif]-->

head
    //if IE
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Agilex')
    title Main
    
    /<!-- build:css _assets/css/monolith.css -->
    // bower:css
    // endbower
    link(href='_assets/css/main.css', rel='stylesheet', media='screen')
    /<!-- endbuild -->

body
    div.container
        div.row
            div.span12
                div.head
                    h1.muted
                        | LOGO
            div.span12.panel.panel-default
                div.panel-heading
                    | $rootScope.locals - root level.
                div.panel-body
                    | {{ locals | json }}

        div#content-wrapper.row-fluid
            div#content
                div(ng-view='ng-view', autoscroll)
    div#push
    include components/core/_footer.jade

    <!-- build:js components/core/lib.js -->
    // bower:js
    // endbower
    <!-- endbuild -->

    <!-- build:js({.tmp,src}) components/core/main.js -->
    script(src='components/app.js')
    script(src='components/home/home.js')
    script(src='components/login/login.js')
    <!-- endbuild -->
